
.ib-description{
	background: #FFFFFF;
	padding:10px 30px 50px 30px;
}

/*bwnwfit*/
bnf{
	display:inline-block;
	vertical-align: top;
	padding:20px 20px;
	width:24%;
	border:solid 0px red;
	min-width:240px;

}




